<link rel="stylesheet" href="/static/css/results.css">

<div class="top-container">
    <div class="title-container">
        <a href="/" class="home-btn">Home</a>
        <h1>Generated Report</h1>
        <div id="subtext">Number of Appointments Per Location (Luzon, Visayas, Mindanao)</div>

    </div>
</div>

<div class="container marg">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Luzon</h5>
                    <p class="card-text">Number of appointments in Luzon: <span id="luzon-appointments">Loading...</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Visayas</h5>
                    <p class="card-text">Number of appointments in Visayas: <span id="visayas-appointments">Loading...</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mindanao</h5>
                    <p class="card-text">Number of appointments in Mindanao: <span id="mindanao-appointments">Loading...</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="static/js/results.js" defer></script>