<link rel="stylesheet" href="/static/css/update.css">

<div class="top-container">
    <div class="title-container">
        <a href="/" class="home-btn">Home</a>
        <h1>Edit an Appointment</h1>
    </div>
</div>

<div class="update-container">
    <form>
        <div class="form-group col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Please enter appointment id</span>
                </div>
                <input id="id" type="number" class="form-control" required>
            </div>
        </div>
        <div class="marg">
            <button type="submit" class="btn btn-dark full-width">Submit</button> 
        </div> 
    </form> 
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="/static/js/select.js"></script>
