<link rel="stylesheet" href="/static/css/update.css">

<div class="top-container">
    <div class="title-container">
        <a href="/" class="home-btn">Home</a>
        <h1>Edit an Appointment</h1>
    </div>
</div>

<div class="update-container">
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">ApptID</span>
            </div>
            <input id="apptid" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">PxID, ClinicID, & DoctorID</span>
            </div>
            <input type="text" class="form-control">
            <input type="text" class="form-control">
            <input type="text" class="form-control">
        </div>

        <div class="marg">
            <div class="form-group row">
                <div class="input-group col-md-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Status</span>
                    </div>
                    <select id="status" class="form-control">
                        <option selected>Choose...</option>
                        <option>Queued</option>
                        <option>Serving</option>
                        <option>No Show</option>
                        <option>Complete</option>
                        <option>Cancel</option>
                        <option>Skip</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="marg">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Time Queued</span>
                    </div>
                    <input type="datetime-local" class="form-control" id="tq" name="datetime">
                </div>
            </div>
        </div>


        <div class="marg">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Queue Date</span>
                    </div>
                    <input type="datetime-local" class="form-control" id="qd" name="datetime">
                </div>
            </div>
        </div>

        <div class="marg">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Start Time</span>
                    </div>
                    <input type="datetime-local" class="form-control" id="st" name="datetime">
                </div>
            </div>
        </div>

        <div class="marg">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">End Time</span>
                    </div>
                    <input type="datetime-local" class="form-control" id="et" name="datetime">
                </div>
            </div>
        </div>

        <div class="marg">
            <div class="form-group row">
                <div class="input-group col-md-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Type & Virtual</span>
                    </div>
                    <select id="type" class="form-control">
                        <option selected>Choose...</option>
                        <option>Consultation</option>                        
                    </select>
                    <select id="virtual" class="form-control">
                        <option selected>Choose...</option>
                        <option>True</option>                        
                        <option>False</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="marg">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Main Specialty & Hospital Name</span>
                </div>
                <input id="ms" type="text" class="form-control">
                <input id="hn" type="text" class="form-control">
            </div>
        </div>
        

        <div class="marg">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Is Hospital, City, & Province</span>
                </div>
                <select id="ishospital" class="form-control">
                        <option selected>Choose...</option>
                        <option>True</option>                        
                        <option>False</option>
                </select>
                <input id="city" type="text" class="form-control">
                <input id="province" type="text" class="form-control">
            </div>
        </div>
        
        <div class="marg">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Region Name</span>
                </div>
                <select id="regionname" class="form-control">
                        <option selected>Choose...</option>
                        <option>National Capital Region (NCR)</option>                        
                        <option>Cordillera Administrative Region (CAR)</option>
                        <option>Ilocos Region (I)</option>                        
                        <option>Cagayan Valley (II)</option>
                        <option>Central Luzon (III)</option>                        
                        <option>CALABARZON (IV-A)</option>
                        <option>MIMAROPA (IV-B)</option>                        
                        <option>Bicol Region (V)</option>
                        <option>Western Visayas (VI)</option>                        
                        <option>Central Visayas (VII)</option>
                        <option>Eastern Visayas (VIII)</option>                        
                        <option>Zamboanga Peninsula (IX)</option>
                        <option>Northern Mindanao (X)</option>                        
                        <option>Davao Region (XI)</option>
                        <option>SOCCSKSARGEN (Cotabato Region) (XII)</option>                        
                        <option>Caraga (XIII)</option>
                        <option>Bangsamoro (BARMM)</option>        
                </select>
            </div>
        </div>

        <div class="marg marg-bot">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Patient Age & Patient Gender</span>
                </div>
                <input id="pxage" type="number" class="form-control">
                <select id="pxgender" class="form-control">
                        <option selected>Choose...</option>
                        <option>Male</option>                        
                        <option>Female</option>
                </select>
            </div>
        </div>

    <div class="marg-bot">
        <button type="submit" class="btn btn-dark full-width-btn">Edit Appointment</button> 
    </div> 

    <div class="marg-bot">
        <button type="submit" class="btn btn-danger full-width-btn">Delete Appointment</button> 
    </div> 

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="/static/js/update.js"></script>