<link rel="stylesheet" href="/static/css/update.css">

<div class="top-container">
    <div class="title-container">
        <a href="/" class="home-btn">Home</a>
        <h1>Edit an Appointment</h1>
    </div>
</div>