.top-container {
    text-align: center;
}

.title-container {
    background-color: #393737;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.node-row {
    margin-top: 30px !important;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
}

.button-row {
    margin-top: 40px !important;
}

#subtext {
    font-weight: 400;
    font-size: 20px;
}

.node-title{
    font-size: 20px;
    font-weight: 600;
}
